            * {
                margin: 0;
                padding: 0;
                font-family: 'Open Sans';
            }
            
            @font-face {
                src: url(../fonts/OpenSans-Regular.woff2);
                font-family: 'Open Sans';
            }
            
            @font-face {
                src: url(../fonts/OpenSans-Bold.woff);
                font-weight: bold;
                font-family: 'Open Sans';
            }
            
            .hidden {
                width: 1px;
                height: 1px;
                clip: rect(1px, 1px, 1px, 1px);
                position: absolute;
            }
            
            .popup-wrapper {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.9);
                z-index: 3
            }
            
            .header_popup {
                text-transform: uppercase;
                text-align: center;
            }
            
            .header_popup::after {
                content: " ";
                background-color: #e1d9bd;
                width: 65px;
                height: 3px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                margin-bottom: 25px;
            }
            
            .popup {
                max-width: 400px;
                padding: 20px 40px;
                background: #ffffff;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .form-block {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }
            
            .list-form {
                background-color: #f3f7f5;
                border: 2px solid #000000;
                box-sizing: border-box;
                padding: 10px;
                font-family: inherit;
                font-size: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            
            select {
                background-image: url(../svg/form-arrows.svg);
                background-repeat: no-repeat;
                background-position: 98% center;
                padding-right: 35px;
                background-color: #ffffff;
                background-size: 20px 20px;
            }
            
            .form-block div {
                display: flex;
                flex-direction: row;
            }
            
            .cheked {
                margin-right: 10px;
                margin-top: 5px;
            }
            
            .cheked:nth-child(1n+2) {
                margin-left: 10px;
            }
            
            textarea {
                margin-top: 10px;
                min-width: 100%;
                max-width: 100%;
                min-height: 150px;
                max-height: 300px;
                background-color: #f3f7f5;
            }
            
            .sub-form {
                background-color: #b59f5b;
                width: 100%;
                height: 50px;
                color: #ffffff;
                font: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
            
            .page {
                box-sizing: border-box;
                background-image: url(../images/banner-bg.jpg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-color: #1ddac0;
                position: relative;
                padding: 15px;
                text-transform: uppercase;
                color: #ffffff;
                width: 100%;
            }
            
            .page::after {
                content: "";
                position: absolute;
                background-color: #000000;
                background-size: cover;
                opacity: 0.5;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            
            .container-wrapper {
                box-sizing: border-box;
                position: relative;
                z-index: 2;
                width: calc(100% - 30px);
                height: 451px;
                padding: 0 15px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .icon {
                width: 100%;
                height: 3.75rem;
            }
            
            .menu-list {
                padding-right: 0;
            }
            
            .list {
                display: flex;
                list-style-type: none;
            }
            
            .menu_link {
                text-decoration: none;
                color: #ffffff;
                font-size: 13px;
            }
            
            .list>li:nth-child(1n + 2) {
                margin-left: 15px;
            }
            
            .text-block {
                margin-top: 60px;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            
            .text-banner {
                font-size: 3vw;
                text-align: center;
                font-weight: 700;
                line-height: 5rem;
                color: #ffffff;
            }
            /* trend */
            
            .text-trend {
                margin: 40px 0;
            }
            
            .text-trend::after {
                content: " ";
                background-color: #e1d9bd;
                width: 65px;
                height: 3px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                margin-bottom: 25px;
            }
            
            .text-trend h2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
            }
            
            .wrapper-trend {
                display: flex;
                box-sizing: border-box;
            }
            
            .img_trend {
                width: calc(97% / 4);
                display: flex;
                height: 325px;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eff5f1;
            }
            
            .img_trend:nth-child(n+2) {
                margin-left: 1%;
            }
            
            .text-trend1 {
                background-image: url("../images/trend1.jpg");
            }
            
            .text-trend2 {
                background-image: url("../images/trend2.jpg");
            }
            
            .text-trend3 {
                background-image: url("../images/trend3.jpg");
            }
            
            .text-trend4 {
                background-image: url("../images/trend4.jpg");
            }
            
            .tags_trend {
                align-self: flex-end;
                border: 5px solid #75653b;
                padding: 5%;
                font-size: 14px;
                text-transform: uppercase;
                margin: 3%;
                z-index: 2;
            }
            
            .tags_trend h3 {
                font-size: 20px;
            }
            
            .img_trend::after {
                content: "";
                position: absolute;
                background-color: #000000;
                height: 325px;
                opacity: 0.5;
                width: calc(97% / 4);
            }
            
            .img_trend {
                color: #ffffff;
                display: flex;
            }
            /* main */
            
            .big-container {
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 10%;
                margin-top: 40px;
                margin-bottom: 60px;
            }
            
            .news {
                box-sizing: border-box;
                display: flex;
                width: 780px;
            }
            
            .news:nth-child(n+2):nth-child(-n+7) {
                margin-top: 60px;
            }
            
            .image {
                width: 100%;
                background-size: contain;
            }
            
            .text {
                margin-left: 30px;
                width: 365px;
            }
            
            .list-small {
                list-style-type: none;
                display: flex;
            }
            
            .tags {
                font-size: 14px;
                color: #b59f5b;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                padding-right: 10px;
            }
            
            .news-name {
                text-transform: uppercase;
                line-height: 25px;
                margin-top: 10px;
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: 900;
            }
            
            .news-name .link {
                color: #000000;
                text-decoration: none;
            }
            
            .date {
                color: #989898;
                font-size: 12px;
            }
            
            .date+.link {
                font-weight: bold;
                color: #000000;
                text-decoration: none;
                font-size: 12px;
            }
            
            .news-text {
                font-size: 15px;
                line-height: 1.5rem;
                padding-top: 40px;
            }
            
            .sidebar {
                width: 272px;
            }
            
            .heading-text {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }
            
            .name-articles {
                text-decoration: none;
                color: #000000;
                font-size: 1rem;
            }
            
            .heading-text::after {
                content: " ";
                background-color: #e1d9bd;
                width: 65px;
                height: 3px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                margin-bottom: 25px;
            }
            
            .news-articles {
                display: flex;
            }
            
            .news-articles:nth-child(n+2) {
                margin-top: 20px;
            }
            
            .list-image {
                background-size: cover;
            }
            
            .texts {
                box-sizing: content-box;
                margin-left: 1%;
            }
            
            h4 .links {
                text-decoration: none;
                color: #000000;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }
            
            .search-container {
                margin-top: 50px;
                display: flex;
            }
            
            .search {
                box-sizing: border-box;
                margin-bottom: 50px;
                background-color: #f4f7f6;
                width: 220px;
                height: 48px;
            }
            
            .magnifier {
                background-image: url(/svg/search.svg);
                background-size: 20px;
                background-position: center center;
                background-repeat: no-repeat;
                height: 48px;
                width: 48px;
                background-color: #b59f5b;
                border: solid 2px #b59f5b;
            }
            
            .butt-email {
                display: flex;
                flex-direction: column;
            }
            
            .email {
                height: 45px;
                width: 268px;
                background-color: #f4f7f6;
                margin-bottom: 20px;
            }
            
            .sub {
                background-color: #b59f5b;
                height: 48px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 50px;
            }
            
            .tags-page {
                margin-bottom: 44px;
                width: 270px;
            }
            
            .list-objects {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
            }
            
            .list-tags {
                box-sizing: border-box;
                margin: 0 5px 5px;
                border: solid 2px #ededed;
                padding: 5px;
                text-transform: uppercase;
                font-weight: bold;
            }
            
            .list-tags .links {
                text-decoration: none;
                color: #000000;
                font-size: 14px;
            }
            
            .list-cat {
                list-style-type: none;
                margin-left: 2px;
                border-bottom: 2px solid #eeeeee;
                padding-bottom: 10px;
            }
            
            .list-cat:not(:first-child) {
                padding-top: 10px;
            }
            
            .list-cat .links {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 14px;
                font-weight: bold;
                color: #000000;
            }
            
            .number {
                vertical-align: 5px;
                font-size: 0.7rem;
                margin-left: 10px;
                color: #b59f5b;
                font-weight: bold;
            }
            /* shop */
            
            .wrapper-shop {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 10%;
            }
            
            .img_shop {
                box-sizing: border-box;
                width: calc(80% / 3);
                display: flex;
                flex-direction: column;
                z-index: 2;
            }
            
            .img_shop::after {
                content: "";
                border: solid 3px #75653b;
                position: absolute;
                box-sizing: border-box;
                height: 300px;
                min-width: calc(65% / 3);
                max-width: 80%;
                margin-top: 10%;
                z-index: 3;
            }
            
            .img-shop {
                width: 100%;
            }
            
            .text-shop {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                width: 100%;
                font-size: 0.9rem;
                font-weight: bold;
                text-align: justify;
                padding-left: 5%;
                padding-right: 5%;
                z-index: 2;
            }
            
            .text-shop h3 {
                text-transform: uppercase;
            }
            
            .text-shop a {
                text-decoration: none;
                color: #dacfac;
            }
            
            .butt-shop {
                display: flex;
                justify-content: space-between;
                padding: 5%;
                width: 80%;
            }
            
            .butt-shop p {
                font-weight: bold;
            }
            
            .line-price {
                text-decoration: line-through;
            }
            
            .butt {
                width: 130px;
                height: 50px;
                background-color: #b59f5b;
                border: solid 2px #b59f5b;
                color: #ffffff;
                font-weight: bold;
            }
            /* footer */
            
            .small-container {
                margin-top: 100px;
                margin-bottom: 30px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .icon-network {
                background-color: #f4f7f6;
                width: 100%;
                height: 100px;
                margin-bottom: 60px;
            }
            
            .icon-network .list-objects {
                justify-content: center;
                align-items: center;
            }
            
            .text-hidden {
                width: 1px;
                height: 1px;
                clip: rect(1px, 1px, 1px, 1px);
                position: absolute;
            }
            
            .icons {
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: center;
                position: absolute;
                margin-top: 45px;
            }
            
            .icon-network .list-objects>li:not(:first-child) {
                margin-left: 60px;
            }
            
            .icons svg {
                font-size: 12px;
            }
            
            .copir-text {
                text-align: center;
                color: #999999;
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 60px;
            }
            
            .copir {
                text-decoration: none;
                color: #999999;
            }
            
            @media(max-width: 1200px) {
                .hiden-menu {
                    display: none;
                }
                .burger {
                    background-color: #ffffff;
                    width: 30px;
                    height: 2px;
                    margin-bottom: 5px;
                }
                .page,
                .wrapper-shop,
                .wrapper-trend {
                    width: 100%;
                }
                .sidebar {
                    margin-top: 60px;
                }
                .search-container,
                .butt-email {
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .search-group {
                    width: 80%;
                }
                .search {
                    width: 100%;
                }
                .magnifier {
                    width: 20%;
                }
                .email-group,
                .email {
                    width: 100%;
                }
                .tags-page,
                .block-cat {
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .list-tags .links {
                    font-size: 12px;
                }
            }
            
            @media (orientation: portrait) and (max-width:640px) {
                .page {
                    background-image: url(../images/banner-mobile.jpg);
                    background-size: cover;
                }
                .wrapper-trend {
                    flex-direction: column;
                }
                .img_trend {
                    background-size: 100% 100%;
                    width: 100%;
                }
                .img_trend::after {
                    width: 100%;
                }
                .img_trend:nth-child(n+2) {
                    margin-top: 1%;
                    margin-left: 0;
                }
            }
            
            @media (orientation: landscape) and (max-width: 640px) {
                .wrapper-trend {
                    flex-wrap: wrap;
                }
                .img_trend {
                    width: calc(99% / 2);
                }
                .img_trend:nth-child(3n) {
                    margin-left: 0;
                }
                .img_trend:nth-child(3n+1) {
                    margin-bottom: 1%;
                }
                .img_trend::after {
                    width: calc(99% / 2);
                }
            }
            
            @media (max-width: 640px) {
                .icon {
                    font-size: 5vw;
                }
                .text-trend h2 {
                    font-size: 16px;
                }
                .big-container {
                    width: 100%;
                    flex-direction: column;
                    padding: 0;
                }
                .container {
                    flex-direction: column;
                    padding-top: 100px;
                }
                .menu-list {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .text-block {
                    width: 100%;
                    margin-top: 40px;
                }
                .text {
                    width: 70%;
                }
                .text-banner {
                    font-size: 5vw;
                    line-height: 3rem;
                    width: 100%;
                }
                .news {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                }
                .news-articles {
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .sidebar {
                    width: 100%;
                }
                .heading-text h2 {
                    font-size: 16px;
                    margin-top: 5%;
                }
                .links {
                    font-size: 1.5rem;
                }
                .wrapper-shop {
                    flex-direction: column;
                    width: 100%;
                    padding: 0;
                }
                .text-shop {
                    padding-top: 5%;
                }
                .img_shop {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .img_shop::after {
                    width: 80%;
                    margin-top: 70%;
                }
                .img_shop:nth-child(1n+2) {
                    margin-top: 15%;
                }
            }
            
            @media (min-width: 641px) and (max-width: 1200px) {
                /* banner */
                .page {
                    background-image: url(../images/banner-bg-tablet.jpg);
                    background-size: contain;
                    height: 51vw;
                }
                .text-block {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .text-banner {
                    font-size: 4vw;
                    padding-left: 10%;
                    padding-right: 10%;
                }
                .text-trend h2 {
                    font-size: 18px;
                }
                .tags_trend h3 {
                    font-size: 1.7vw;
                }
                .news {
                    width: 100%;
                    flex-direction: column;
                }
                .text {
                    width: 100%;
                }
                .content-box {
                    width: 55%;
                }
                .sidebar {
                    width: 30%;
                }
                .links {
                    font-size: 1.5vw;
                }
                .wrapper-shop {
                    justify-content: start;
                    align-items: stretch;
                    flex-wrap: wrap;
                }
                .img_shop {
                    width: 40%;
                }
                .img_shop:nth-child(2n+2) {
                    margin-left: 5%;
                }
                .img_shop:nth-child(1n+3) {
                    margin-top: 10%;
                }
                .wrapper-shop {
                    padding-left: 5%;
                    padding-right: 5%;
                }
                .img_shop::after {
                    width: calc(80% / 2);
                    margin-top: 25%;
                }
            }
            
            @media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px) {
                .wrapper-trend {
                    flex-wrap: wrap;
                }
                .img_trend {
                    width: calc(99% / 2);
                }
                .img_trend:nth-child(3n) {
                    margin-left: 0;
                }
                .img_trend:nth-child(3n+1) {
                    margin-bottom: 1%;
                }
                .img_trend::after {
                    width: calc(99% / 2);
                }
            }